<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="org.fr.ykatchou.paillardes"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".PaillardeMenu"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name=".PaillardeList" android:label="@string/list_titre" />
        <activity android:name=".PaillardeView" />
        <activity android:name=".About" />

    </application>
    <uses-sdk android:minSdkVersion="3" />

</manifest> 